.border-custom-color {
  border-color: #233d42 !important;
}

.text-justified {
  text-align: justify !important;
}

.width-fit-content {
  width: fit-content !important;
}

.object-fit-cover {
  object-fit: cover;
}
